name: checks
on:
    pull_request:
    workflow_dispatch:
jobs:
    lint:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v5
            - uses: ./.github/actions/setup-python
            - run: |
                  uv run ruff check --fix
                  uv run ruff format

    typecheck:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v5
            - uses: ./.github/actions/setup-python
            - run: uv run ty check

    vulture:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v5
            - uses: ./.github/actions/setup-python
            - run: uv run vulture --min-confidence 100 --exclude ".venv" .
