name: pytest
on:
    pull_request:
    workflow_dispatch:
jobs:
    pytest:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v5
            - uses: ./.github/actions/setup-python
            - run: |
                  uv run pytest
