name: pytest
on:
    pull_request:
    workflow_dispatch:

permissions:
    contents: read
    pull-requests: write
jobs:
    pytest:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v6
            - uses: ./.github/actions/setup-python
            - run: |
                  uv run pytest

            - name: Run tests (with coverage)
              run: |
                  uv run pytest \
                    --junitxml=pytest.xml \
                    --cov-report=term-missing:skip-covered \
                    --cov=. \
                    | tee pytest-coverage.txt

            - name: Pytest coverage comment
              uses: MishaKav/pytest-coverage-comment@main
              with:
                  pytest-coverage-path: ./pytest-coverage.txt
                  junitxml-path: ./pytest.xml
